:root {
  --accent-color: #cc3300;
  --accent-color-darked: #991100;
  --background-color: #fff;
  --text-color: #333;
  --button-bg-color: #fcfcfc;
  --button-bg-color-hover: #eee;
  --button-border-color: #ccc;
  --default-box-shadow:  0 0 0.5rem #3333;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a:link, a:visited {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:link:hover {
  color: var(--accent-color-darked);
}

.шапкаОбертка {
  background-color: #fcfcfc;
  position: sticky;
  top: 0;
  box-shadow: var(--default-box-shadow);
  z-index: 100;
}

.шапка {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  max-width: 1280px;
  margin: 0 auto;
}

.логотип {
  font-size: 1.5rem;
  background-color: red;
  padding: 0.5rem;
  color: #fff;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.менюСайта {
  display: flex;
}

.менюСайта .пунктМеню {
  list-style-type: none;
}

.менюСайта .пунктМеню a {
  color: var(--accent-color);
  text-decoration: none;
}

.менюСайта .пунктМеню a:hover {
  color: var(--accent-color-darked);
  transition: 0.5s;
  text-decoration: none;
  display: block;
}

.контентОбертка {
  flex-grow: 1;
}

.контент {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.редакторКода {
  width: 80%;
  margin: 0 auto;
  resize:none;
  height: auto;
  display: block;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: 0 0 0.5rem #3333;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
  padding: 0.5rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}

button {
  border: 1px solid var(--button-border-color);
  background-color: var(--button-bg-color);
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--button-bg-color-hover);
}

#копироватьВбуферОбменаБлок2 {
  margin: 0;
  margin-left: 10%;
  margin-top: 0.5rem;
}

.кодДокументацияОбертка {
  width: 50%;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0.5rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.описаниеДокументацияОбертка {
  width: 50%;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0.5rem;
  border-right: 1px solid #ccc;
}

.кодДокументация, .блокКода {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #3333;
}

.подвалОбертка {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.подвал {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.подвал .логотип {
  background-color: #fff;
  color: #333;
  display: inline-block;
}

.менюПодвал {
  list-style-type: none;
}

.менюПодвал a {
  color: #ffff;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 0.5rem;
}

.менюПодвал li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.менюПодвал a:hover {
  color: #eee;
  text-decoration: none;
}

.иконкаМенюподвал {
  width: 32px;
  height: 32px;
  border-radius: 0.25rem;
  background-size: 500% 500%;
  background-image: url(./assets/social_icons.png);  
  box-sizing: border-box;
  border: 1px solid #555;

}
.вкИконка {
  background-position: calc(1* 100% / 5) calc(0* 100% / 4);
}

.линекдИнИконка {
  background-position: calc(2* 100% / 5) calc(1* 100% / 4);
}

.браузерИконка {
  background-position: calc(0* 100% / 5) calc(4* 100% / 4);
}

.блокСправки {
  display: block;
  box-sizing: border-box;
}


.блокСправки > div {
  display: flex;
  margin-bottom: 1.5rem;
}

.блокСправки > p {
  margin: 0;
  box-sizing: border-box;
  padding: 0.5rem;
  width: calc(100% - 1px);
}

.блокСправки > div > div {
  width: 50%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.блокСправки > div > div:nth-child(1) {
  width: 40%;
}

.блокСправки > div > div:nth-child(2) {
  width: 60%;
}

.предупреждение {
  border: 1px solid #aa2200;
  background-color: #ffeeee;
  color: #aa2200;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: var(--default-box-shadow);
}

.блокСправки table {
  border: 1px solid var(--accent-color);
  border-collapse: collapse;
  width: 100%;
}

.блокСправки tr {
  border-bottom: 1px solid var(--accent-color);
}

.блокСправки td {
  padding: 0.5rem;
}

.блокСправки tr td:first-child {
  font-weight: bold;
}

.слайд, .фонСлайда {
  width: 96vw;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: calc(-50vw + 640px + 2vw);
  box-sizing: border-box;
  color: #fff;
}

.фонСлайда {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgb(205,107,69);
background: linear-gradient(135deg, rgba(205,107,69,1) 0%, rgba(211,129,85,1) 0%, rgba(221,162,109,1) 10%, rgba(217,167,81,1) 25%, rgba(255,200,241,1) 100%);
}
.слайд > div {
  background-color: #fff7;
  color: #333;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--default-box-shadow);
}
.слайд h2 {
  font-size: 3rem;
  text-shadow: 0 0 3px #333;
}

.верхнееПредупреждение {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background-color: #cc3300;
  border-radius: 0;
  color: #fff;
  padding: 1rem;
}

.наВсюСтраницу {
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  .слайд {
    left: 0;
  }

  .менюСайта {
    display: none;
  }
  
  .блокСправки > div {
    flex-direction: column;
  }

  .шапкаОбертка {
    width: 100%;
  }
  
  .слайд h2 {
    font-size: 1.5rem;
  }
  
  .верхнееПредупреждение {
    position: relative;
  }

  .слайд > div {
    box-sizing: border-box;
  }

  .кодДокументация, .блокКода {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  
  .блокСправки > div > div:nth-child(1), .блокСправки > div > div:nth-child(2)  {
    width: 100%;
  }
  
  .редакторКода {
    max-width: 300px;
  }

  .блокСправки tr {
    display: flex;
    flex-direction: column;
  }
}

.менюДокументации {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc( 5rem + 2px);
  left: 0;
  bottom: 0;
  width: 450px;
  z-index: 100%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  box-shadow: var(--default-box-shadow);
  z-index: 10;
  box-sizing: border-box;
  overflow-y: auto;
}

.содержимоеМенюДокументации {
  display: flex;
  flex-direction: column;
}

.содержимоеМенюДокументации > * {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.менюДокументации a, .менюДокументации a:hover {
  color: #333
}

.блокДокументации {
  display: flex;
  
}

.содержимоеДокументации {
  width: calc( 100% - 450px);
  margin-left: 450px;
}

.блокСправки > p a {
  position: relative;
  margin-top: 250px;
  height: 30px;
  width: 30px;
  top: -6rem;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  outline: none;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.верхнееПредупреждение {
  width: calc( 100% - 450px);
  margin-left: 450px;
}